.page-header
  %h1 S.E.C. <small> Sistema de Encuestas Cuidadanas</small>

.row
  .span10
    #carousel.barrousel
      .barrousel_image
        = image_tag 'encuesta/ee2010.png', :class => 'default'
        = image_tag('encuesta/encuesta.gif')
      .barrousel_content
        .default algun text
        %div nasa

      .barrousel_nav



:javascript 
  $('#carousel').barousel({navType: 2});