= form_for(@propuesta, :validate => true) do |f|

  .clearfix
    = label_tag :descripcion
    .input
      = f.text_field :descripcion
  
  %hr
    .input
      = f.submit :class => 'btn btn-primary'
  
