<div class="content">
	<div class="page-header">
		<h1>Editar Anteproyecto</h1> 
	</div>
	<div class="row">
		<div class="span14">
			<%= render 'form' %>
			<%= link_to 'Ver', @anteproyecto,:class => 'btn btn-info' %>
			<%= link_to 'Volver', anteproyectos_path, :class => 'btn default' %>
		</div>	
	</div>
</div>

