.content
  .page-header
    %h1 Editar Per&iacute;odo de Propuesta
    = render 'form' 

  = link_to 'Ver',  @periodo_propuesta , :class => 'btn btn-info'
  = link_to 'Volver', periodo_propuestas_path , :class => 'btn'
