<tr id="proyecto_<%= "#{@proyecto.id}" %>">
  <td><%= @proyecto.nombre %></td>
  <td><%= @proyecto.descripcion[0..20] %></td>
  <td><%= link_to image_tag('iconos/32x32/remove_from_database.png'), eliminar_proyecto_periodo_consensos_path(:id=>@proyecto.id), :confirm => '¿Esta seguro?',:title => 'Eliminar', :class => 'qtip',:remote=>true %></td>
</tr>