<div class="content">
	<div class="page-header">
		<h1>Nuevo Periodo consenso</h1> 
	</div>
	<div class="row">
		<div class="span14">
			<%= render 'form' %>
			<%= link_to 'Volver', periodo_consensos_path, :class => 'btn default' %>
		</div>	
	</div>
</div>
