.content
  .page-header
    %h1 Pa&iacute;ses
  .row-fluid
    .span14
      %table.zebra-striped
        %tr
          %th Nombre
          %th
          
        - @paises.each do |pais|
          %tr
            %td
              =link_to pais.nombre, pais
              = link_to content_tag(:i, nil, {:class => "icon-pencil", :title => "Editar"}),edit_pais_path(pais)
              = link_to content_tag(:i, nil, {:class => "icon-remove", :title => "Eliminar"}),pais , :confirm => '¿Está Seguro?', :method => :delete
            %td
              
      %hr
      .clearfix
        .input
          = link_to 'Nuevo Pais', new_pais_path, :class => 'btn btn-primary'