.content
  .page-header
    %h1 Pais
  .row
    .span14

      %b Nombre:
      = @pais.nombre

      %hr
      = link_to 'Editar', edit_pais_path(@pais),:class=>'btn info'
      
      = link_to 'Volver', paises_path ,:class=>'btn default'