.content
  .page-header
    %h1 Provincias
  .row-fluid
    .span14
      %table.table.table-striped{:width=>'100%'}
        %tr
          %th Nombre
          %th País
          %th 
          
        - @provincias.each do |provincia|
          %tr
            %td
              =link_to provincia.nombre, provincia
              = link_to content_tag(:i, nil, {:class => "icon-pencil", :title => "Editar"}),edit_provincia_path(provincia)
              = link_to content_tag(:i, nil, {:class => "icon-remove", :title => "Eliminar"}),provincia , :confirm => '¿Está Seguro?', :method => :delete
            %td= provincia.pais_nombre
            %td
              
      %hr
      .clearfix
        .input
          = link_to 'Nueva Provincia', new_provincia_path, :class => 'btn btn-primary'