.content
  .page-header
    %h1 Provincia
  .row
    .span14

      %b Nombre:
      = @provincia.nombre

      %br

      %b Pais:
      = @provincia.pais_nombre

      %hr
      = link_to 'Editar',  edit_provincia_path(@provincia),:class=>'btn info'
      
      = link_to 'Volver',provincias_path  ,:class=>'btn default'