.container
  %a.brand{:href=>'/main'} S. E. C.
  %ul.nav
    %li.dropdown
      %a.dropdown-toggle{:href=> "#","data-toggle".to_sym => 'dropdown' } Propuestas
      %ul.dropdown-menu
        %li 
          = link_to 'Propuestas', propuestas_path
        %li 
          = link_to 'Periodos de Propuestas', periodo_propuestas_path 
    %li.dropdown
      %a.dropdown-toggle{:href=> "#","data-toggle".to_sym => 'dropdown' } Elecciones
      %ul.dropdown-menu
        %li 
          = link_to 'Anteproyectos', anteproyectos_ciudadano_path(current_user.ciudadano)
    
  .pull-right
    .cerrar-session
      .btn-group.pull-right
        %a.btn.dropdown-toggle{:href=>'#', "data-toggle".to_sym=>"dropdown"}
          %i.icon-user
          = current_user.name
        %ul.dropdown-menu
          %li
            %a{:href => '/logout'} Cerrar Sesion
